<ul>
	<li>Given Name: <%= @given_name %></li>
	<li>Family Name: <%= @family_name %></li>
	<li>Nickname: <%= @nickname %></li>
	<li>Email: <%= @email %></li>
	<li>Photo url: <%= @photo_url %></li>
</ul>
